@font-face{
    font-family: 'saiyan';
    src: url(src/assets/fonts/saiyan_sans/Saiyan-Sans.ttf);
}
.logo{
    width: 300px;
}

#dragon-font{
    font-family: saiyan;
    -webkit-text-stroke: 1px white;
}

.image-hero{
    max-height: 600px;
    max-width: 600px;
}

.background-overlay{
    background-image: url(src/assets/images/DopeGoku.webp);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

#column-with-logo{
    margin-top: 100px;
}

#column-with-button{
    margin-top: 200px;
}

.content{
    padding-right: 5px;
}

.media-content {
    width: 850px;
}

.image-card {
  width: 250px;
  height: 250px;
}
